<div class="flex flex-wrap justify-center md:justify-evenly max-w-8xl p-8 mx-auto">

        <img class="h-20 md:h-28 my-auto" src="/logo/minty-logo.svg">

        <div class="flex p-8 my-auto text-minty text-xl font-light uppercase">
            {{ nav:main_nav }}
            <a href="{{ url }}">
                <div class="px-4 my-auto {{ if is_current }}font-black{{ /if }}">
                    <p>{{ title }}</p>
                </div>
            </a>
            {{ /nav:main_nav }}

        </div>
</div>
