<div class="flex">
    <div class="mx-auto max-w-4xl p-8">
        <div class="max-w-md">
            <h1 class="text-xl font-black">Let's connect!</h1>
            <p class="font-light">I'd love to hear from if you have questions, or are interested in my services. You can use this form to drop me a line!</p>
        </div>
        <div class="bg-white rounded shadow p-8 mt-10">
            {{ form:contact_me }}

            {{ if success }}
            <div class="bg-minty text-blue-dark p-4">
                Your message has been sent! I'll get back to ya as soon as I can!
            </div>
            {{ else }}

            {{ if errors }}
                <div class="bg-red-dark text-white p-2">
                    {{ errors }}
                    {{ value }}<br>
                    {{ /errors }}
                </div>
            {{ /if }}

            {{ fields }}
                <div class="p-2">
                    <label class="text-blue-dark">{{ display }}</label>
                    <div class="p-1">{{ field }}</div>
                    {{ if error }}
                    <p class="text-gray-500">{{ error }}</p>
                    {{ /if }}
                </div>
            {{ /fields }}

            <div class="mx-3 mt-4">
                <button class="text-purple-dark hover:font-bold hover:border-3 border-b-2 border-purple-dark" type="submit">Submit!</button>
            </div>

            {{ /if }}

            {{ /form:contact_me }}
        </div>
    </div>

</div>

